* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f4f4;
}

/* HEADER */
.header {
  background: #c8102e;
  color: rgb(255, 0, 0);
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.navbar a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.menu-btn {
  display: none;
  font-size: 25px;
  cursor: pointer;
}

/* HERO */
.hero {
  background: url("../images/background.jpg") no-repeat center/cover;
  height: 80vh;
  color: white;
  text-align: center;
  padding-top: 200px;
}

.hero h1 {
  font-size: 48px;
}

.hero button {
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  background: white;
  color: #c8102e;
  font-weight: bold;
}

/* FOOTER */
footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 10px;
}

/* RESPONSIVE */
@media(max-width: 768px) {
  .navbar {
    display: none;
    flex-direction: column;
    background: #c8102e;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
  }

  .menu-btn {
    display: block;
  }
}
.navbar {
  background: #111;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.menu-btn {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

/* MOBILE MENU */
@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    background: #c8102e;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    padding: 15px;
  }

  .nav-links.show {
    display: flex;
  }
}
